# File can be copied to .env and adjust if needed
BASE_URL=https://opensource-demo.orangehrmlive.com
ORANGEHRM_USERNAME=Admin
ORANGEHRM_PASSWORD=admin123
HEADLESS=false
TIMEOUT=20
LOG_LEVEL=INFO   # DEBUG for more detail
